@using Microsoft.AspNetCore.Identity
@using Mario_Vukovic_Seminar.Models.Dbo
@model List<Mario_Vukovic_Seminar.Models.ViewModel.ApplicationUserViewModel>
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
    int counter = 1;

}
<a class="btn btn-primary" href="@Url.Action("CreateUser", "User")">Add new user</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">EmailConfirmed</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@counter</th>
                <td>@user.Role</td>
                <td>@user.Email</td>
                <td>@if (user.EmailConfirmed)
                    {
                        <input type="checkbox" onclick="return false" checked>
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false">
                    }</td>
                <td> @Html.ActionLink("Details","UserDetails","User",new {id= user.Id},new {@class = "btn btn-primary"})</td>
                <td> @Html.ActionLink("Edit","UpdateUser","User",new {id= user.Id},new {@class = "btn btn-primary"})</td>
                <td> @Html.ActionLink("Delete","DeleteUser","User",new {id= user.Id},new {@class = "btn btn-danger"})</td>
            </tr>
            counter++;
        }

    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("AdminPanel", "Admin")">Back to admin panel</a>
