@model Mario_Vukovic_Seminar.Models.ViewModel.CreateProductViewModel

@using (Html.BeginForm())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.ProductCategory.Title)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Home",new {id = item.Id})" class="btn btn-success">Details</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Back to homepage</a>

}