@model Mario_Vukovic_Seminar.Models.ViewModel.ProductViewModel

<h1>
    @Html.DisplayFor(model => model.Name)
</h1>

<dd>
    <img src="@Model.ProductImgUrl">
</dd>

@using (Html.BeginForm())
{
    <input type="text" readonly hidden value="@Model.Id" name="ProductId">
    <div>
        <h4>Product details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model =>  model.ProductCategory.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>

        <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Back to homepage</a> | <a class="btn btn-primary" href="@Url.Action("CategoryDetails", "Home", new {id= Model.ProductCategory.Id})">View all @Html.DisplayFor(model =>  model.ProductCategory.Title)</a>

    </div>
}
