@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Mario_Vukovic_Seminar.Services.Interface
@model Mario_Vukovic_Seminar.Models.Binding.ProductBinding
@inject IProductService productService

@{
    var productCategory = await productService.GetAllProductCategoriesAsync();
}

<h1>Add new product</h1>
<hr />

<form action="/Admin/CreateProduct" method="post" enctype="multipart/form-data">


    <div class="form-group">
        <label asp-for="ProductCategoryId" class="control-label">Choose category</label>
        <select name="ProductCategoryId" class="form-select" aria-label="Default select example">
            @foreach (var item in productCategory)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
    </div>



    <div class="form-group">
        @Html.LabelFor(x=>x.Name)
        @Html.TextBoxFor(x=> x.Name, new {@class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Description)
        @Html.TextBoxFor(x=> x.Description, new {@class = "form-control", Required = true, placeholder="Unesi opis"  })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Quantity)
        @Html.TextBoxFor(x=> x.Quantity, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Price)
        @Html.TextBoxFor(x=> x.Price, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.ProductImg)
        <input type="file" name="ProductImg" class="form-control" />
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Create"> | <a class="btn btn-primary" href="@Url.Action("ProductManagement", "Admin")">Back to product managament</a>
</form>


