@model Mario_Vukovic_Seminar.Models.Binding.ProductCategoryBinding

<h1>Add new category</h1>
<hr />
<form action="/Admin/CreateProductCategory" method="post" enctype="multipart/form-data">
    <div class="form-group">
        @Html.LabelFor(x=>x.Title)
        @Html.TextBoxFor(x=> x.Title, new {@class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Description)
        @Html.TextBoxFor(x=> x.Description, new {@class = "form-control", Required = true, placeholder="Unesi opis"  })
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Create"> | <a class="btn btn-primary" href="@Url.Action("ProductCategoryManagament", "Admin")">Back to product category managament</a>

</form>

