@model Mario_Vukovic_Seminar.Models.ViewModel.CreateProductViewModel

<a class="btn btn-primary" href="@Url.Action("CreateProduct", "Admin")">Add new product</a>

@using (Html.BeginForm())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.ProductCategory.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="@Url.Action("ProductCategoryManagament", "Admin")">Back to product category managament</a>
}